<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="rootfolder" value="d:\storage"/>
    <add key="urltoken" value="test"/>
    <add key="adminkey" value="admin"/>
    <add key="serviceurl" value="http://espencel.unipluss.no/storage"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
