<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false" maxUrlLength="6000" maxQueryStringLength="6000" maxRequestLength="20480"
                 executionTimeout="180" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add verb="GET" path="Test"
           name="TestHandler"
           type="Unipluss.Sign.StorageService.Server.TestHandler, Unipluss.Sign.StorageService.Server" />
      <add verb="POST" path="Admin/Container/Create"
           name="CreateContainerHandler"
           type="Unipluss.Sign.StorageService.Server.CreateContainerHandler, Unipluss.Sign.StorageService.Server" />
      
      <add verb="GET" path="Admin/Container/Key"
           name="GetContainerKeyHandler"
           type="Unipluss.Sign.StorageService.Server.GetContainerKeyHandler, Unipluss.Sign.StorageService.Server" />
      
      <add verb="GET" path="Admin/Container/MetaData"
           name="GetContainerMetaDataHander"
           type="Unipluss.Sign.StorageService.Server.GetContainerMetaDataHander, Unipluss.Sign.StorageService.Server" />

      <add verb="GET" path="Admin/Container"
           name="DoesContainerExistHandler"
           type="Unipluss.Sign.StorageService.Server.DoesContainerExistHandler, Unipluss.Sign.StorageService.Server" />
      <add verb="DELETE" path="Admin/Container"
              name="DeleteContainerHandler"
              type="Unipluss.Sign.StorageService.Server.DeleteContainerHandler, Unipluss.Sign.StorageService.Server" />
      <add verb="POST" path="File"
           name="UploadFileHandler"
           type="Unipluss.Sign.StorageService.Server.UploadFileHandler, Unipluss.Sign.StorageService.Server" />
      <add verb="GET" path="File/Download"
           name="GetFileHandler"
           type="Unipluss.Sign.StorageService.Server.GetFileHandler, Unipluss.Sign.StorageService.Server" />
      <add verb="GET" path="File"
           name="DoesFileExistsHandler"
           type="Unipluss.Sign.StorageService.Server.DoesFileExistsHandler, Unipluss.Sign.StorageService.Server" />
      <add verb="DELETE" path="File"
                name="DeleteFileHandler"
                type="Unipluss.Sign.StorageService.Server.DeleteFileHandler, Unipluss.Sign.StorageService.Server" />

      <add verb="GET" path="*"
        name="RootHandler"
        type="Unipluss.Sign.StorageService.Server.RootHandler, Unipluss.Sign.StorageService.Server" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="rootfolder" value="c:\storage" />
    <add key="urltoken" value="test" />
    <add key="adminkey" value="admin" />
    <add key="debug" value="true" />
  </appSettings>

</configuration>
